@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
  --animate-gradient: gradient 8s linear infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

.font-hand-amatic {
  font-family: 'Amatic SC', cursive;
}

.font-hand-just {
  font-family: 'Just Another Hand', cursive;
}
